Flask==2.3.2
Werkzeug>=2.3.3
requests==2.31.0
Whoosh==2.7.4
python-dotenv==1.0.0
gunicorn==21.2.0
typing-extensions
Flask==2.3.2
gunicorn==21.2.0
python-dotenv==1.0.0
requests==2.31.0
typing-extensions
Werkzeug>=2.3.3
Whoosh==2.7.4
